.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.banner__titulo {
    font-size: 64px;
    font-weight: 900;
    color: var(--cor-secundaria);
}

.banner__subtitulo {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0.2em;
}

.banner__imagem {
    display: flex;
    align-items: center;
}

.banner__imagem img {
    position: absolute;
    align-items: center;
}

.banner__imagem p {
    color: rgba(163, 87, 9, 0.5);
}

@media screen and (max-width: 1023px ) {
    .banner {
       flex-direction: column;
       margin: 10em 0 0 0;
    }

    .banner__imagem {
        display: flex;
        justify-content: center;
        margin: 2em 0 0 0;
    }

    .about-me {
        width: auto;
    }
}