.habilidades {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

}

.habilidades__titulo {
    font-size: 32px;
    font-weight: 700;
    color: var(--cor-secundaria);
    align-items: center;
}

.habilidades__lista {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.habilidades__item {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--cor-de-fundo-secundaria);
}