.cabecalho {
    display: flex;
    align-items: center;
    height: 5em;
    justify-content: space-around;
    gap: 5em;
}

.cabecalho__logo img{
    align-items: start;
}

.cabecalho__lista {
    display: flex;
    flex-direction: row;
    gap: 4em;

}

.cabecalho__item a {
    text-decoration: none;
    color: var(--cor-principal);
}

.cabecalho__item a:hover {
    color: var(--cor-secundaria);
}

@media screen and (max-width: 1023px ) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 1.5em;
        white-space: nowrap;
    }
}