.rodape {
    margin: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rodape__titulo {
    font-size: 32px;
    font-weight: 700;
    color: var(--cor-secundaria);
    margin-top: 2em;
}

.contato__lista {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.contato__item {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contato__item img {
    width: 1.5%;
}

.contato__item a {
    color: var(--cor-principal);
}

.contato__item a:hover {
    color: var(--cor-secundaria);
}